/**/*.env

# Rust
/**/target

# Node
/**/.parcel-cache
/**/dist
/**/node_modules
/**/src/proto

# SQLite
/**/*.db
/**/*.db-shm
/**/*.db-wal

# Elixir
/**/*.pb.ex

# Python
/**/__pycache__
/**/proto/__init__.py
/**/*_pb2_grpc.py
/**/*_pb2.py*
/**/.ipynb_checkpoints