[package]
name = "core"
version = "0.1.0"
edition = "2021"

[profile.release]
debug = 1

[dependencies]
anyhow = "1.0.71"
chrono = { version = "0.4.24", features = ["serde"] }
config = "0.13.3"
console-subscriber = "0.1.9"
dotenv = "0.15.0"
futures = "0.3.28"
lazy_static = "1.4.0"
opentelemetry = { version = "0.19.0" }
opentelemetry-otlp = { version = "0.12.0" }
prost = "0.11.9"
prost-build = "0.11.9"
rayon = "1.7.0"
redis-macros = "0.1.1"
regex = "1.8.3"
reqwest = "0.11.18"
reqwest-middleware = "0.2.2"
reqwest-tracing = "0.4.5"
rspotify = "0.11.7"
rust-s3 = "0.33.0"
rustis = { version = "0.11.1", features = ["pool", "redis-json", "redis-search"] }
serde = "1.0.163"
serde_derive = "1.0.163"
serde_json = "1.0.96"
tl = "0.7.7"
tokio = { version = "1.28.1", features = ["rt-multi-thread", "macros", "tracing"] }
tokio-retry = "0.3.0"
tonic = "0.9.2"
tonic-reflection = "0.9.2"
tonic-web = "0.9.2"
tracing = "0.1.37"
tracing-opentelemetry = "0.19.0"
tracing-subscriber = { version = "0.3.17", features = ["fmt", "json", "env-filter"] }
ulid = { version = "1.0.0", features = ["serde"] }
[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = { version = "0.5.0", features = ['unprefixed_malloc_on_supported_platforms'] }

[build-dependencies]
tonic-build = "0.9.2"
prost-build = "0.11.9"
