<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-gray-200 py-3 text-sm">
    <div class="flex items-center gap-4">
      <.link
        href="/"
        class="bg-brand/15 text-brand rounded-full px-4 py-1 font-medium text-lg leading-6"
      >
        mandolin
      </.link>
    </div>
  </div>
</header>
<main class="px-4 sm:px-6 lg:px-8">
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
